            <footer>
    			<div class="bottom">
					<ul>
    				<li>&copy; 2012 Scandinavian Collectors Club - All Rights Reserved</li>
						<li><a href="sitemap.shtml">Sitemap</a></li>
						<li><a href="terms-of-use.shtml">Website Terms of Use</a></li>
					</ul>
					<ul>
						<li id="copy"><a href="http://www.bigwowdesign.com" target="_blank">Website: Big Wow Design</a></li>
					</ul>
    			</div>
    		</footer>
	    </div>
		<script type="text/javascript" src="assets/js/jquery.colorbox.js"></script>
        <script type="text/javascript" src="assets/js/jquery.placeholder.fix.js"></script>
        <script src="assets/js/global.js"></script>
        <script type="text/javascript" src="assets/js/jquery.selectbox-0.5.js"></script>
        <script type="text/javascript" src="assets/js/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.listnav.pack-2.1.js"></script>
        <script type="text/javascript" src="assets/js/jquery-bubble-popup-v3.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery-dynamic-form-elements.js"></script>
        <script type="text/javascript" src="assets/js/jQuery.fileinput.js"></script>
        <script type="text/javascript" src="assets/js/example.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".cbOpen").colorbox();
                $(".cbClose").live('click',function(){$.colorbox.close();});
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function(){ 
                $("input[name=disposition]").change(function() {
                    var test = $(this).val();
                    $(".desc").hide();
                    $("#"+test).show();
                }); 
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("input[name$='disposition']").click(function() {
                    var test = $(this).val();
                    $("div.desc").hide();
                    $("#" + test).show();
                });
                $("input[name$='points']").click(function() {
                    var test = $(this).val();
                    $("div.desc").hide();
                    $("#" + test).show();
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.select:not([multiple])').selectbox();
            });
        </script>
        <script>
            $(function(){
                $(".accordion").accordion({active: false, collapsible: true, header: "h2", autoHeight: false});
            });
            $(function(){
                $(".accordion1").accordion({active: false, collapsible: true, header: "h3", autoHeight: false});
            });
        </script>
        <script>
            $(function(){
                $('#glossaryList').listnav({
                    initLetter: 'a',
                    includeAll: false,
                    includeOther: false,
                    flagDisabled: false,
                    showCounts: false,
                    prefixes: ['the','a']
                });
            });
        </script>
        <script type="text/javascript">
            <!--
            $(document).ready(function(){
                $('.popup').CreateBubblePopup({
                    position : 'right',
                    align    : 'center',
                    innerHtmlStyle: {
                                        color:'#fff', 
                                        'text-align':'left',
                                        'padding':'3px 6px',
                                        'font':'11px Helvetica, Arial, sans-serif',
                                        'line-height':'1.5em',
                                        'width':'320px'
                                    },
                    themeName: 'all-black',
                    themePath: 'assets/img/jquerybubblepopup-themes'
                });
                $('#popupReportType').SetBubblePopupInnerHtml('This option gives you the ability to choose what type of Report you would like to recieve:<br /><br /><b>Shipper Service Report</b> - Report that measures on-time service based on orgin location.<br /><b>Consignee Service Report</b> - Report that measures on-time service based on destination location.');
                $('#popupReportDisp').SetBubblePopupInnerHtml('This option gives you the ability to choose whether you would like to recieve your report via Email or Fax. By default it will place your email address you specified when you requested your Saia Secure account, and it will be checked. You can also change the email you wish to send the report to. If you wish to send it to a Fax instead you simply check off the circle next to Fax and enter the Fax number in the following format:<br /><br />(###)###-####.');
                $('#popupDate').SetBubblePopupInnerHtml('This option allows you to supply us with the date you wish to start  or end your service report. The range between the above two options must be no greater than 3 months.');
                $('#popupSortOpt').SetBubblePopupInnerHtml('This option gives you the ability to have the report sorted for your needs:<br /><br /><b>Pro Number</b> - Number used to identify a freight bill<br /><b>Pickup Date</b> - Actual date shipment was picked up<br /><b>Delivery Date</b> - Date of delivery<br /><b>Shipper/Consignee Name*</b> - Name of organization that ships/recieves the articles<br /><b>Inbound/Outbound State*</b> - State of organization that ships/recieves the articles<br /><br />* This sort option varies on the Report Type you select. For example, if you select a Report Type of Shipper Service Report and you select to sort by Shipper/Consignee Name it will sort by Consignee Name, and if you select to sort by Inbound/Outbound State it will sort by the Inbound State.');
            });
            //-->
        </script>