<html lang="en"> 
	<head> 
		<meta charset="utf-8"> 
		<title>Scandinavian Collectors Club</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="assets/css/reset.css" rel="stylesheet">
		<link href="assets/css/main-fixed-tablet.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>

	<body>
            <header>
            	<div class="header">
	    			<div id="logo"><a href="index.shtml"><img src="assets/img/scc_logo.png" alt="SCC Logo" /></a></div>
	    			<div id="title">Scandinavian Collectors Club</div>
	    			<div id="topLinks">
	    				<ul>
	    					<li><a href="../saiainc/index.shtml">Contact Us</a></li>
	    					<li><a href="#"><img src="assets/img/ico_twitter.png" width="21" height="20" alt="Twitter" /></a></li>
	    					<li><a href="#"><img src="assets/img/ico_facebook.png" width="21" height="20" alt="Facebook" /></a></li>
	    					<li><a href="#"><img src="assets/img/ico_pinterest.png" width="21" height="20" alt="Pinterest" /></a></li>
	    				</ul>
	    			</div>
	    			<hr />
	    			<div id="headerLinks">
	    				<ul id="mainMenu">
							<li class="first-child">
								<a href="#">Resource Center</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a href="regional-ltl.shtml">Articles</a></li>
											<li><a href="multi-regional.shtml">Audio Visual Programs</a></li>
											<li><a href="truckload.shtml">Books</a></li>
											<li><a href="dist-cons.shtml">Book Reviews</a></li>
											<li><a href="xtreme-guaranteed.shtml">Catalogs</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a href="xtreme-guaranteed.shtml">Exhibits &amp; Collections</a></li>
											<li><a href="xtreme-assurance.shtml">Periodicals</a></li>
											<li><a href="guarantee-select.shtml">The Posthorn Journal</a></li>
											<li><a href="guarantee-select.shtml">Resource Directory</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">About SCC</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a href="super-rater.shtml">About SCC</a></li>
											<li><a href="fuel-surcharge.shtml">SCC's Mission</a></li>
											<li><a href="rules-charges.shtml">History of the SCC</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a href="weather-info.shtml">Club Chapters</a></li>
											<li><a href="holidays.shtml">SCC Club Officers</a></li>
											<li><a href="glossary.shtml">Club Bylaws</a></li>
											<li><a href="faqs.shtml">Membership FAQs</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Member Services</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a class="cbOpen" href="modals/doc-view-request.html">Study Groups</a></li>
											<li><a class="cbOpen" href="modals/track-report.html">Member Directory</a></li>
											<li><a href="service-reports.shtml">Stamp of the Month</a></li>
											<li><a class="cbOpen" href="modals/custom-reporting.html">Club Awards</a></li>
											<li><a class="cbOpen" href="modals/custom-reporting.html">SCC Stamp Mart</a></li>
											<li><a class="cbOpen" href="modals/custom-reporting.html">Library Auctions</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a class="cbOpen" href="modals/ebilling-request.html">Member Ads</a></li>
											<li><a class="cbOpen" href="modals/epay.html">Translation Services</a></li>
											<li><a class="cbOpen" href="modals/bill-adjustment.html">SCC Newsroom</a></li>
											<li><a href="file-claim.shtml">Event Calendar</a></li>
											<li><a class="cbOpen" href="modals/claim-status.html">Social Media</a></li>
										</ul>
									</li>
								</ul>
							</li>
	    				</ul>
	    				<ul id="last">
	    					<li><a class="cbOpen" href="modals/customer-login.html">Member Login</a></li>
	    					<li style="padding-top:1px;">|</li>
	    					<li><a class="cbOpen" href="modals/search.html"><img src="assets/img/ico_search.png" width="20" height="34" alt="search icon" /></a></li>
	    				</ul>
	    			</div>
    			</div>
    		</header>
