<html lang="en"> 
	<head> 
		<meta charset="utf-8"> 
		<title>Scandinavian Collectors Club</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="assets/css/reset.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>

	<body>
            <header>
            	<div class="header">
	    			<div id="logo"><a href="index.shtml"><img src="assets/img/scc_logo.png" alt="SCC Logo" /></a></div>
	    			<div id="title">Scandinavian Collectors Club</div>
	    			<div id="topLinks">
	    				<ul>
	    					<li><a href="../saiainc/index.shtml">Contact Us</a></li>
	    					<li><a href="#"><img src="assets/img/ico_twitter.png" width="21" height="20" alt="Twitter" /></a></li>
	    					<li><a href="#"><img src="assets/img/ico_facebook.png" width="21" height="20" alt="Facebook" /></a></li>
	    					<li><a href="#"><img src="assets/img/ico_pinterest.png" width="21" height="20" alt="Pinterest" /></a></li>
	    				</ul>
	    			</div>
	    			<hr />
	    			<div id="headerLinks">
	    				<ul id="mainMenu">
							<li class="first-child">
								<a href="#">Resource Center</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a href="regional-ltl.shtml">Regional LTL</a></li>
											<li><a href="multi-regional.shtml">Multi-Regional</a></li>
											<li><a href="truckload.shtml">Truckload</a></li>
											<li><a href="dist-cons.shtml">Distribution &amp; Consolidation</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a href="xtreme-guaranteed.shtml">Xtreme Guaranteed</a></li>
											<li><a href="xtreme-assurance.shtml">Xtreme Assurance</a></li>
											<li><a href="guarantee-select.shtml">Guarantee Select</a></li>
										</ul>
									</li>
									<li class="last-child">
										<ul class="subMenu">
											<li><a href="canada.shtml">Canada</a></li>
											<li><a href="mexico.shtml">Mexico</a></li>
											<li><a href="partner-network.shtml">Partner Network</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">About SCC</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a href="super-rater.shtml">SuperRater+</a></li>
											<li><a href="fuel-surcharge.shtml">Fuel Surcharge</a></li>
											<li><a href="rules-charges.shtml">Rules &amp; Special Charges</a></li>
											<li><a href="forms-documents.shtml">Forms &amp; Documents</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a href="reporting-capabilities.shtml">Reporting Capabilities</a></li>
											<li><a href="web-services.shtml">Web Services</a></li>
										</ul>
									</li>
									<li class="last-child">
										<ul class="subMenu">
											<li><a href="weather-info.shtml">Weather Info</a></li>
											<li><a href="holidays.shtml">Holidays</a></li>
											<li><a href="glossary.shtml">Glossary of Terms</a></li>
											<li><a href="faqs.shtml">FAQs</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Member Services</a>
								<ul class="menu">
									<li>
										<ul class="subMenu">
											<li><a class="cbOpen" href="modals/doc-view-request.html">View Documents</a></li>
											<li><a class="cbOpen" href="modals/track-report.html">Daily Tracking Report</a></li>
											<li><a href="service-reports.shtml">Service Reports</a></li>
											<li><a class="cbOpen" href="modals/custom-reporting.html">Custom Reporting</a></li>
										</ul>
									</li>
									<li>
										<ul class="subMenu">
											<li><a class="cbOpen" href="modals/ship-status-report.html">Status Report</a></li>
											<li><a class="cbOpen" href="modals/notification-request.html">Notification Request</a></li>
											<li><a class="cbOpen" href="modals/customer-csis.html">Customer CSIs</a></li>
										</ul>
									</li>
									<li class="last-child">
										<ul class="subMenu">
											<li><a class="cbOpen" href="modals/ebilling-request.html">E-Billing</a></li>
											<li><a class="cbOpen" href="modals/epay.html">Register for E-Pay</a></li>
											<li><a class="cbOpen" href="modals/bill-adjustment.html">Bill Adjustment</a></li>
											<li><a href="file-claim.shtml">File a Claim</a></li>
											<li><a class="cbOpen" href="modals/claim-status.html">Claim Status</a></li>
										</ul>
									</li>
								</ul>
							</li>
	    				</ul>
	    				<ul id="last">
	    					<li><a class="cbOpen" href="modals/customer-login.html">Member Login</a></li>
	    					<li>|</li>
	    					<li><a class="cbOpen" href="modals/search.html"><img src="assets/img/ico_search.png" width="20" height="20" alt="search icon" /></a></li>
	    				</ul>
	    			</div>
    			</div>
    		</header>
