						<div id="posthorn">
    						<h1>The Posthorn</h1>
    						<h2>Find out more about the Journal of the Scandinavian Collectors Club&hellip;</h2>
							<a href="../saia/index.shtml"><img src="assets/img/sidebar_posthorn.png" width="219" height="177" alt="Posthorn" /></a>
    					</div>
						<div id="newsBrief">
    						<h1>SCC News Brief</h1>
    						<ul>
    							<li><a href="news-releases.shtml">SCC announces Scandinavian area awards&hellip;</a></li>
    							<li><a href="news-releases.shtml">Find out about the latest meetings and events&hellip;</a></li>
    							<li><a href="news-releases.shtml">President’s message&hellip;</a></li>
    							<li><a href="news-releases.shtml">What’s new at SCC&hellip;</a></li>
    							<li><a href="news-releases.shtml">SCC’s new website offers a better user experience&hellip;</a></li>
    							<li><a href="news-releases.shtml">Nordia 2012 Update&hellip;</a></li>
    						</ul>
    					</div>