						<div id="announcing">
    						<h1>Announcing</h1>
    						<h2>The Saia LTL mobile app</h2>
							<img src="assets/img/img_phones.png" alt="App Image" />
    					</div>
    					<div id="isaia">
    						<h1>iSaia</h1>
    						<p><a class="cbOpen" href="modals/isaia.html">Recognize an Employee</a></p>
    						<a class="cbOpen" href="modals/isaia.html"><div id="trophy"></div></a>
    					</div>
    					<div id="csi">
    						<h1>CSIs</h1>
							<h2>Customer Service Indicators</h2>
							<div id="csi-cats">
								<ul>	
									<li style="width:97%"><span>Pick-up Performance</span><p>99.7%</p></li>
									<li style="width:77%"><span>On-time Delivery</span><p>97.7%</p></li>
									<li style="width:96%"><span>Claims-free Shipment</span><p>99.6%</p></li>
									<li style="width:99%"><span>Claims Settled Within 30 Days</span><p>99.9%</p></li>
									<li style="width:85%"><span>Exception-free Delivery</span><p>98.5%</p></li>
									<li style="width:90%" class="last-child"><span>Invoice Accuracy</span><p>99.0%</p></li>
								</ul>
							</div>
    					</div>